<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="topic" value="Test"/>
    <add key="bootstrapServers" value="kafka05-prod01.messagehub.services.us-south.bluemix.net:9093,kafka02-prod01.messagehub.services.us-south.bluemix.net:9093,kafka01-prod01.messagehub.services.us-south.bluemix.net:9093,kafka03-prod01.messagehub.services.us-south.bluemix.net:9093,kafka04-prod01.messagehub.services.us-south.bluemix.net:9093"/>
    <add key="consumerGroupId" value="MattCSharpTest"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>